<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">50% saves!</h1>
        <p class="lead text-muted">look at this items bellow ! and buy now</p>
        <p>
          <a href="#" class="btn btn-primary my-2">see all items</a>
          <a href="#" class="btn btn-secondary my-2">buy now!</a>
        </p>
      </div>
    </div>
  </section>
{{#each big}}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each this}}
        <div class="col">
            <div class="card h-100">
                <img src= {{this.productImg}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{this.productName}} </h5>
                    <p class="card-text"> {{this.productPrice}} $ </p>
                </div>
                <div class="card-footer">
                  {{#if ../../ishbs}}
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <a href="cart/{{this._id}}/{{this.productPrice}}"><button type="button" class="btn btn-dark">Add to cart</button></a>
                    </div>
                  {{else}}
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <a href="signin"><button type="button" class="btn btn-danger">signin to buy</button></a>
                    </div>
                  {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
{{/each}}
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a><br>
      {{#if admin}}
        <a href="/admin">secret page</a>
      {{else}}
      {{/if}}
    </p>
  </div>
</footer>

